:root{
  --background: #db4843;
  --text: #f5e2e8;
  --primary: #ff8a8a;
  /* --secondary: #ff395e; */
  --accent: white;
}

body{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: var(--background);
  color: var(--text);
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal; */
  cursor:default;
}

h1{
  /* font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; */
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-style: normal; */
  color: var(--primary);
  font-size: 13vh;
  
}

.header{
  position:relative;
  left: 0;
  width:100%;
  display: flex;
  justify-content: space-between;

  div{
    /* background-color: black; */
    /* padding: 5px 5px; */
    margin: 0 10px
  }

  div:hover{
    color: var(--accent);
    cursor:cell;
  }
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  padding: 1rem;
}

.toolbox{
  display: flex;

}

.tool{
  margin: 0 5px;
  padding: 5px 15px;
  background-color: var(--background);
  /* border-radius: 3px; */
  border: solid var(--primary) 4px;


}

.tool:hover{
  color: var(--primary);
  background-color: white;
  /* cursor:cell; */

  .dropZone{
    color: var(--primary);
  }
}

.dropZone{
  /* border: 1px solid var(--accent); */
  /* background-color: var(--background); */
  color: var(--accent);
}

.dropZone :hover{
  color: var(--text);
}