body{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: darkgray;
}

.header{
  position:relative;
  left: 0;
  width:100%;
  display: flex;
  justify-content: space-between;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  padding: 1rem;
}

.toolbox{
  display: flex;

}

.tool{
  margin: 0 5px;
  padding: 5px 15px;
  background-color: rgb(170, 170, 170);
}

.dropZone{
  border: 1px solid #fff;
  background-color: red;
}